@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search');


.mid{
    
}

.search-bars{
    display: flex
    height: 52.22px;
    width: 685.99px;
    padding: 10px;
    border: 1px solid #dadce0;;
    border-radius: 26px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.search-bars-options{
    display: flex
    height: 48px;
    width: 154px;
    padding: 10px;
    border: 2px solid black;
    margin: 20px;
    align-items: 
}

.logo{
    font-family: 'Product Sans', sans-serif;
                                                
    font-size: 80px;
}

.container{
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

